<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<script type="text/javascript" src="<?php echo base_url('styles/admin/');?>Js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="<?php echo base_url('styles/admin/');?>Js/index.js"></script>
<link rel="stylesheet" href="<?php echo base_url('styles/admin/');?>Css/public.css" />
<link rel="stylesheet" href="<?php echo base_url('styles/admin/');?>Css/index.css" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<base target="iframe"/>
<head>
</head>
<body>
	<div id="top">
		<div class="menu">
			<a href="http://localhost/ci_express/index.php/admin/choose/search">查询</a>
			<a href="http://localhost/ci_express/index.php/admin/choose/find">揽件</a>
			<a href="http://localhost/ci_express/index.php/admin/choose/update">更新</a>
			<a href="http://localhost/ci_express/index.php/admin/choose/receive">接收</a>
			<a href="http://localhost/ci_express/index.php/admin/choose/send">派送</a>
			<a href="http://localhost/ci_express/index.php/admin/choose/accept">签收</a>
		</div>
		<div class="exit">
			<a href="http://localhost/ci_express/index.php/admin/login/logout" target="_self">退出</a>
		</div>
	</div>
	<div id="left">
		<dl>
			<dt>功能管理</dt>
			<dd><a href="http://localhost/ci_express/index.php/admin/choose/modify">修改密码</a></dd>
		</dl>
	</div>
	<div id="right">
		<iframe name="iframe" src=""></iframe>
	</div>
</body>
</html>