<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" href="<?php echo base_url('styles/admin/');?>Css/login.css" />
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<script type="text/javascript" src="<?php echo base_url('styles/admin/');?>Js/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="<?php echo base_url('styles/admin/');?>Js/login.js"></script>
	</head>
	<body>
		<div id="top">

		</div>
		<div class="login">	
			<form  method="post" id="login" name="form">
			<div class="title">
				 登录后台
			</div>
			<table border="1" width="100%">
				<tr>
					<th>管理员帐号:</th>
					<td>
						<input type="text" name="username" class="len250" id="username"/>
					</td>
				</tr>
				<tr>
					<th>密码:</th>
					<td>
						<input type="password" class="len250" name="password" id="password"/>
					</td>
				</tr>
				<tr>
					<th>验证码:</th>
					<td>
						<input type="code" class="len250" name="code" id="cd"/> <img src="http://localhost/ci_express/index.php/admin/login/code" id="code"/> <a href="#" onclick="change_code()">看不清</a>
					</td>
				</tr>
				 <textarea id="pubkey" rows="15" cols="65" style="display:none">-----BEGIN PUBLIC KEY-----
MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC2dWtjFMHKriJb56w/WNOcICDQ
SH74691pqfwibPDkzdV7xRfNkwiS0UV+Jy2htyguqsLjRXTaECoMhPoXq1RCXZep
nIW9gj+0UcJ2nZ0PKUfVQvd61tSAZRGhs/YX18f4qOQnH/Dhz1Jvh99R6MEBapCa
klMkStrhGvyK46QRgQIDAQAB
-----END PUBLIC KEY-----</textarea>
			</table>
		</form> 
		<tr>
				<td colspan="2" style="padding-left:500px;"> <input type="submit" class="submit" value="登录" id="bt" onclick="creatRequest()" /></td>
		</tr>
	</div>
	</body>
</html>